[submodule "Programação Orientada a Objetos II/Exercícios em Aula/ChatBots"]
	path = Programação Orientada a Objetos II/Exercícios em Aula/ChatBots
	url = https://github.com/INE-UFSC/sistema-chatbots-grupo-1-23-2
