[submodule "Object-Oriented Programming I/Final Project"]
	path = Object-Oriented Programming I/Final Project
	url = https://github.com/pehqge/Misture-Meu-Cha
[submodule "Object-Oriented Programming II/Final Project"]
	path = Object-Oriented Programming II/Final Project
	url = https://github.com/tmphnt/The-Lost-Key.git
[submodule "Software Engineering I/soma10"]
	path = Software Engineering I/soma10
	url = https://github.com/pehqge/soma10.git
[submodule "Computer Vision/boxe.ml"]
	path = Computer Vision/boxe.ml
	url = https://github.com/leonardosm14/boxe.ml.git
[submodule "Modeling and Simulation/Genesys-Simulator-cellular-automata"]
	branch = tema6-2026-1
	path = Modeling and Simulation/Genesys-Simulator-cellular-automata
	url = https://github.com/JVSutter/Genesys-Simulator-cellular-automata.git
